.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  height: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  user-select: none;
  text-align: top;
  resize: none;
  outline: none;
  width: 100%;
}

.button {
  height: 40px;
  width: 100px;
  background-color: rgb(21, 56, 82, 0.3);
  border-radius: 10px;
  border: solid 2px rgb(201, 237, 255);
  color: white;
  cursor: pointer;
}

.disabledButton {
  opacity: .3;
}
