.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 8%;
  width: 60%;
  padding: 2em;
  min-width: 300px;
  max-width: 98%;
}

.label {
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(37, 96, 125);
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.input {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(83, 62, 93, 0.145);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  user-select: none;
  outline: none;
  width: 95%;
}

.emptyFieldError {
  color: var(--muted-purple-text);
  font-size: 15px;
}
