.outerContainer {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  border-radius: 50%;
  margin-bottom: 5px;
}

.question {
	font-size: 0.9em;
  color: rgb(90, 78, 130);
  letter-spacing: 0.5px;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  padding: 1em;
}

.arrow {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #5d617c78;
}

.showAdviceLabel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}


.showAdviceText {
  margin-right: .3em;
  font-size: 13px;
  font-weight: 600;
}
