.outerContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icon {
  border-radius: 50%;
  margin-bottom: 6px;
}

.contentContainer {
	font-size: 0.9em;
  color: rgb(90, 78, 130);
  letter-spacing: 0.5px;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.arrow {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #5d617c78;
}

.question {
  margin-bottom: 20px;
}

.showAdviceLabel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}


.showAdviceText {
  margin-right: .3em;
  font-size: 13px;
  font-weight: 600;
}

.adviceContainer {
  border-radius: 12px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.adviceLabel {
  background: white;
  padding: 0.7em;
  border-radius: 12px 12px 0px 0px;
  font-weight: 600;
}

.advice {
  font-style: italic;
  color: rgb(72, 60, 100);
  padding: 1em;
  background: rgba(18, 133, 255, 0.104);
  font-weight: 500;
  letter-spacing: 0.8px;
  border-radius: 0px 0px 12px 12px;
}
