.question {
  border-radius: 20px;
  font-weight: 400;
  color: white;
  padding: 1em;
  margin-top: 10px;
  /* background: rgba(146, 184, 255, 0.203); */
}

.advice {
  background: rgb(25, 119, 97, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba(135, 221, 255, 0.18);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  margin-top: 10px;
  padding: 1em;
  color: rgb(96, 20, 119);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  font-weight: 500;
}

.showAdviceLabel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}


.showAdviceText {
  margin-right: .3em;
  font-size: 13px;
  font-weight: 600;
}
