.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  height: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  user-select: none;
  text-align: top;
  resize: none;
  outline: none;
}
