.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
  background: rgba(178, 252, 251, 0.34);
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  margin-bottom: 2em;
}

.headerText {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--teal);
  margin-bottom: 1em;
}

.userContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.user {
  color: var(--muted-purple-text);
  font-size: 0.9em;
}

.signOutButton {
  background: none;
  border: 1px solid var(--muted-purple-text);
  color: var(--muted-purple-text);
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signOutButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.modeContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.softwareQuestionType {
  margin-top: 0.5em;
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.navItem {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mobileContainer {
  transition: height ease-in 0.5s;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  width: fit-content;
}

.icon {
  margin-right: 10px;
}

.label {
  letter-spacing: 2px;
}

.loadingLabel {
  opacity: 0.5;
}

.returnLabel {
  margin-left: 10px;
}

.signedInLabel {
  margin-top: 16px;
  margin-bottom: 12px;
  font-style: italic;
  color: var(--gray-text);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
}

.expandCollapseIcon {
  animation: bounce 2s infinite;
  cursor: pointer;
}

.expandCollapseIconContainer {
  font-size: 20px;
  align-self: flex-end;
  margin-top: 10px;
}

@media screen and (max-width: 850px) {
  .container {
    border-radius: 20px;
  }
}
