.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(106, 103, 169);
  border-radius: 15px;
  padding: 1.3em;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.281),
    70%,
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.mobileContainer {
  transition: height ease-in 0.5s;
}

.headerText {
  font-weight: 600;
  margin-bottom: 10px;
}

.labelContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}

.softwareQuestionType {
  margin-top: 12px;
}

.icon {
  margin-right: 10px;
}

.label {
  letter-spacing: 2px;
}

.loadingLabel {
  opacity: 0.5;
}

.returnLabel {
  margin-left: 10px;
}

.signedInLabel {
  margin-top: 16px;
  margin-bottom: 12px;
  font-style: italic;
  color: gray;
}

.signOutButton {
  margin-top: 10px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
}

.expandCollapseIcon {
  animation: bounce 2s infinite;
  cursor: pointer;
}

.expandCollapseIconContainer {
  font-size: 20px;
  align-self: flex-end;
  margin-top: 10px;
}
