.container {
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.headerText {
  font-weight: 600;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.label {
  margin-right: 10px;
}

.notesLabel {
  margin-left: 20px;
  margin-right: 10px;
}

.returnLabel {
  margin-left: 10px;
}
