.container {
  border: solid 1px white;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 20%;
}

.icon {
  border-radius: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: white;
  letter-spacing: 2px;
  width: 70%;
}

.text::after {
  display: inline-block;
  animation: dots steps(1, end) 3s infinite;
  content: "";
  color: white;
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
