.container {
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  box-shadow: 8px 8px rgba(54, 54, 160, 0.402);
}

.question {
  font-size: 0.9em;
  letter-spacing: 0.8px;
  color:rgb(38, 54, 81);
  margin-bottom: 20px;
  text-align: center;
}

.noteBox {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 15px;
}

.noteHeader {
  background: rgba(255, 255, 255, 0.432);
}

.noteContainer {
  margin-top: 8px;
  border-radius: 12px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, 0.187), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.noteLabel {
  background: linear-gradient(
    120deg,
    rgba(183, 83, 229, 0.25),
    rgba(99, 168, 202, 0.495),
    70%,
    rgba(205, 253, 255, 0.25)
  );
  padding: 0.5em;
  border-radius: 12px 12px 0px 0px;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note {
  font-style: italic;
  color: rgb(72, 60, 100);
  padding: 1em;
  background: rgba(24, 119, 126, 0.076);
  font-weight: 500;
  letter-spacing: 0.8px;
  border-radius: 0px 0px 12px 12px;
  font-size: 0.8em;
  word-break: break-all;
}

.button {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 0.3em;
  font-weight: 600;
  cursor: pointer;
}

.updateButton {
  margin-right: 5px;
}
