.header {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--muted-purple-text);
}

.subHeader {
  border-radius: 20px;
  padding: 0.5em;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--muted-green);
  margin-bottom: 15px;
  width: fit-content;
  box-shadow: 4px 4px 3px rgba(54, 54, 160, 0.402);
}

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.contentBlock {
  margin-bottom: 15px;
  padding-left: 15px;
  color: var(--muted-purple-text);
  font-weight: 300;
}

.list {
  padding-left: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.linkSpan {
  margin-bottom: 5px;
}

.link {
  color: purple;
  font-style: italic;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
  font-size: 14px;
}
