.button {
  height: 40px;
  width: 200px;
  background: transparent;
  border-radius: 10px;
  border: solid;
  color: white;
  margin-top: 20px;
}

.loading {
  margin-top: 20px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
}


.disabledButton {
  opacity: 0.3;
}

.noteContainer {
  margin-bottom: 4%;
  width: 100%;
  max-width: 700px;
}
