.button {
  height: 40px;
  width: 200px;
  background: transparent;
  border-radius: 10px;
  border: solid;
  color: white;
  margin-top: 20px;
}

.loading {
  margin-top: 20px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.disabledButton {
  opacity: 0.3;
}

.noteContainer {
  margin-bottom: 4%;
  width: 100%;
  max-width: 700px;
}

.notesSubject {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding: 0.7em;
  border-radius: 10px;
  color: var(--muted-purple-text);
  box-shadow: 5px 5px rgba(54, 54, 160, 0.402);
}

.noNotes {
  color: var(--muted-purple-text);
}

.tellMeContainer {
  margin-bottom: 20px;
}
