.button {
  height: 40px;
  width: 200px;
  background: transparent;
  border-radius: 10px;
  border: solid;
  color: white;
  margin-top: 20px;
}

.loading {
  margin-top: 20px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
}


.disabledButton {
  opacity: 0.3;
}

.noteContainer {
  margin-bottom: 4%;
  width: 100%;
  max-width: 700px;
}

.notesSubject {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 0.7em;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
